.camp-card-under {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.camp-card {
    background-color: rgba(255, 255, 255, 0.984);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 90%;
    max-width: 800px;
    height: 100%;
    max-height: 600px;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    flex-direction: column;
    justify-content: space-between;
    transition: 200ms all;
}

.camp-card:hover {
    transform: scale(1.05);
}

.camp-card:hover::after {
    transform: scale(1);
}

.camp-card-footer {
    bottom: 15px;
    right: 15px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 15px;
    border-radius: 5px;
    transition: 200ms all;
}

.camp-card-footer:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.camp-card-container {
    top: 6vh;
    background-image: url(/about-image1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.camp-card-header {
    font-size: 2rem;
}
