.toggle .line1 {
    transform: rotate(-45deg) translate(-8px, 3px);
    transition: transform 0.3s ease-in;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-8px, -3px);
    transition: transform 0.3s ease-in;
}
