* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}

/* NAVBAR */
header {
    display: flex; /* in line */
    justify-content: flex-start; /* tpush all to right*/
    padding: 0px 30px; /* top/down l/r */
    align-items: center; /* centers horizontaly */
    height: 10vh;
}

.logo {
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
}

nav {
    margin-left: auto; /* PUSH NAV to right*/

}

nav li a {
    text-decoration: none;
}

.nav-links {
    list-style: none; /* deletes dots*/
}

.nav-links li {
    display: inline;
    padding: 0 20px;
}

.nav-links li a {
    color: rgb(11, 11, 11);
    font-size: 16px;
}

.nav-links li a:hover {
    color: rgb(239, 192, 23);
    transition: ease-in 0.1s;
}

.button {
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: 1px solid rgb(239, 192, 23);
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    margin: 20px;
}

.button:hover {
    background-color: rgba(239, 192, 23, 0.731);
}

/* MAIN PAGE */
.bg {
    width: 100%;
    /*background: linear-gradient(
            rgba(239, 192, 23, 0.01),
            rgba(32, 22, 22, 0.438),
            rgba(13, 0, 0, 0.552)
    ) url(mainBackground.jpg) no-repeat, no-repeat center center;*/
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 90vh;
    height: -webkit-calc(90vh); /* google, safari */
    height: -moz-calc(90vh); /* firefox */
}

.bgImage {
    object-fit: cover;
}

.bgContent {
    position: relative;
}

h1 {

    background: none;
    color: rgb(239, 192, 23);
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 5px 0 black;
    text-align: center;
    padding-top: 15vh;
}

.flex-parent {
    display: flex;
    justify-content: center;
    background: none;
}

.main-btn {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    margin: 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    font-weight: 900;
    margin-top: 35px;
}

a {
    background: none;
}


/* LOGIN + REGISTER*/
.background {
    background-color: rgb(239, 192, 23);
    display: grid;
    height: 100vh;
    place-items: center;
    width: 100vw;
}

.background-reg {
    background-color: rgb(239, 192, 23);
    display: grid;
    justify-content: center;
    width: 100vw;
    padding-top: 40px;
}

.container {
    height: 300px;
    width: 450px;
}

.container-reg {
    height: 850px;
    width: 450px;
}

.message {
    height: 25%;
    margin: 20px;

}

.message-reg {
    height: 10%;
    padding: 20px;
}

.content {
    height: 60%;
}

.content-reg {
    height: 80%;
}

.input-field {
    height: 50%;
}

.input-field-reg {
    min-height: 100px;
}

.full-size {
    width: 100%;
    font-size: 20px;
    padding: 20px;
}

.buttons {
    height: 15%;
    display: flex;
}

.buttons-reg {
    height: 10%;
    display: flex;
}

.large-button {
    width: 50%;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.inputs {
    width: calc(100% - 40px);
    margin-left: 20px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-top: 5px;
    font-size: 14px;
}

.black {
    background-color: rgb(11, 11, 11);
    color: rgb(255, 255, 255);
}

.white {
    background-color: rgb(255, 255, 255);
    color: rgb(11, 11, 11);
}